html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    background: #555;
}
.page-area {
    height: 100%;
    position: relative;
}
.beaker-container, .beaker-liquid-zone, svg {
    pointer-events: none;
}
.beaker-container {
    width: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.beaker-click-zone {
    pointer-events: all;
    position: absolute;
    height: 125px;
    width: 115px;
    top: 140px;
    left: 40px;
    cursor: pointer;

    /*
    background: green;
    opacity: 0.3; */
}
.beaker-liquid-zone {
    position: absolute;
    height: 42px;
    width: 68px;
    top: 210px;
    left: 64px;
    pointer-events: none;

    /*
    background: purple;
    opacity: 0.5; */
}
.beaker-container>object {
    width: 100%;
}
.instructions {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: #777;
    font-size: 3em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    user-select: none;
}
